@use '../variables' as *;
@use '../mixins' as *;

.home {
  h1.welcomeMessage {
    color: $black;
    font-style: italic;
    font-weight: 700;

    .logo--1,
    .logo--3 {
      color: $pumpkin;
    }
    .logo--2 {
      color: $black;
    }
  }

  .cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @include breakpoint-down("medium") {
      display: block;
    }

    .card {
      margin: 1.125rem;
      background-color: $white;
      padding: 1rem 1.4375rem;
    }
  }
}
