@import "../mixins";

.d-flex {
  display: flex;

  &--column {
    display: flex;
    flex-direction: column;
  }

  &--row {
    display: flex;
    flex-direction: row;
  }
}

.j-c {
  &-center {
    justify-content: center;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-space-between {
    justify-content: space-between;
  }
  &-space-around {
    justify-content: space-around;
  }
}

.a-i {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-space-between {
    align-items: space-between;
  }
  &-space-around {
    align-items: space-around;
  }
}

.hide-for-mobile {
  @include breakpoint-down("medium") {
    display: none !important;
  }
}

.only-for-mobile {

  @include breakpoint-up("medium") {
    display: none !important;
  }
}
